@import '_vars.scss';

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: $back;
    color: $font;
    text-align: center;
    font-weight: 500;
    padding-top: 15px;
 }